/* esternal stylesheet 
is the most common and usefull method
we can link a single file css to many html files

CSS selectors:
1. h1{}        = type selector or an elemet selector, only select with the same element
2. #id{}       = id selector, select the element with the same id
3. .class{}    = class selector, select the elemet with the same class name
4. *{}         = universal selector, select all the element, usualy used to reset properties that the browser adds by default 
*/

.ExStyle {
  color: LightSkyBlue;
}

/* style decleration 
color: u can use HEX, RGB, or Color Name*/

/* HEX */
.HEX {
  color: #cacafc;
}
/* RGB*/
.RGB {
  color: rgb(152, 251, 152);
}
/* Color Name*/
.ColName {
  color: PeachPuff;
}

/* div */
.div {
  background-color: #fbe3eb;
  color: white;
  font-size: 19pt;
}
/* span */
.span {
  background-color: #ffe4e1;
  color: white;
  font-size: 19pt;
}

/* fontstyles
some browser or operating system might not support your font (if its too unique)
hence we'll add web safe font as a backup font

vscode had an auto completing web safe fonts for a few fonrt families*/

.FStyle1 {
  font-family: "Courier New", Courier, monospace;
}
.FStyle2 {
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  font-weight: lighter;
  text-decoration: underline;
  font-size: 25pt;
}

/* test layout properties */
.LayProp1 {
  background-color: #e6e6fa;
  color: #9370db;
  text-align: center;
  line-height: 2;
  letter-spacing: 2px;
}
.LayProp2 {
  background-color: #f5f5dc;
  color: #808000;
  text-align: right;
  line-height: 4;
  letter-spacing: 1px;
}

/* list styles 
disc    = default
circle  = hollow disk (?) like dounuts..
squere  = square
none    = to remove the bulet point

it has default spacing, to remove it set the margin and padding to 0
*/
.StyLists {
  background-color: #ffddd9;
  color: white;
  font-size: 19pt;
  list-style-type: square;
  /* margin: 0;
  padding: 0; */
}
