/* esternal stylesheet 
is the most common and usefull method
we can link a single file css to many html files

CSS selectors:
1. h1{}        = type selector or an elemet selector, only select with the same element
2. #id{}       = id selector, select the element with the same id
3. .class{}    = class selector, select the elemet with the same class name
4. *{}         = universal selector, select all the element, usualy used to reset properties that the browser adds by default 
*/

.ExStyle {
  color: LightSkyBlue;
}

/* style decleration 
color: u can use HEX, RGB, or Color Name*/

/* HEX */
.HEX {
  color: #cacafc;
}
/* RGB*/
.RGB {
  color: rgb(152, 251, 152);
}
/* Color Name*/
.ColName {
  color: Gainsboro;
}

/* div */
.div {
  background-color: #fbe3eb;
  color: white;
  font-size: 19pt;
}
/* span */
.span {
  background-color: #ffe4e1;
  color: white;
  font-size: 19pt;
}
